@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
  /* font-family: 'Michroma', sans-serif; */
  font-family: 'Jura', sans-serif;
}

.navbar {
  min-height: 10vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#avatar {
  max-height: 30vh;
  border-radius: 50%;
}
