@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  /* font-family: 'Michroma', sans-serif; */
  font-family: 'Jura', sans-serif;
}

.navbar {
  min-height: 10vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#avatar {
  max-height: 25vh;
  border-radius: 50%;
}

.projects-container {
  min-height: 100vh;
  background-color: #39c0ed;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 1rem;
  width: 20rem;
  min-height: 38rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-footer {
  margin: 2vh;
}
